# data/spotディレクトリを無視
data/spot
# 一般的なPython関連ファイルも無視
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 仮想環境
venv/
ENV/

# IDE関連
.idea/
.vscode/
*.swp
*.swo

# OS関連
.DS_Store
Thumbs.db 